.logo {
  width: 100px;
}
.avatar {
  width: 50px;
}
.campana {
  width: 30px;
}
.search {
  width: 30px;
}
.hover-nav:hover {
  color: white;
}
.dropdown-menu {
  list-style: none;
}
.drop-logo {
  width: 10px;
}
/* .footer {
  margin-left: 20%;
} */
.btn-footer {
  width: 150px;
}
.footer {
  margin-inline: 10%;
  margin-top: 100px;
}

.h1 {
  font-size: 4rem;
}

#btn-students {
  height: 40px;
  width: 100%;
}

#btn-maturity {
  background-color: rgb(55, 55, 55);
}
.container-checkbox {
  width: 30px;
  height: 30px;
}
